[DEFAULT]
url = https://jira.atlassian.com
username =
password =
token = ATATT3xFfGF0-1IVznHGrKZ4J75EIUjX2vsNWYUlyq2ahD2qGNcOuPcAeZoOv5l54Gbk2JTqlgQ5ZEYwy7N75niOMAcpDjbIWdtCAsIMRz_lp-Wmhr96BuvM3170XkVmbiPoYl0NWXokw07gBFxxzuMue_FPCPxs1wEwNFjkgrXN2Tj8pSTrhXI=6C2A88EF
# ssl_verification = True/False
# version = foo-1.0
# components = com1,second component,com3
# strategy = [open|strict|warn|ignore] (dealing with not found issues)
# docs_search = False (disable searching for issue id in docs)
# issue_regex = REGEX (replace default `[A-Z]+-[0-9]+` regular expression)
# resolved_statuses = comma separated list of statuses (closed, resolved)
# resolved_resolutions = comma separated list of resolutions (done, fixed)
# run_test_case = True (default value for 'run' parameter)
# connection_error_strategy [strict|skip|ignore] Choose how to handle connection errors
# return_jira_metadata = False (return Jira issue with metadata instead of boolean result)